Repository CUBRID/cubrid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beyondykk9, @hornetmj, @kisoo-han, @shparkcubrid

move backtrace error string
  src/executables/javasp.cpp
Owners: none

move backtrace error string
  src/executables/javasp.cpp
Owners: none

[CBRD-25064] loaddb terminates with exit code 0 even though an error occurred (#4967)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25087] Move printing backtrace in parent code (#4968)
  src/executables/javasp.cpp
Owners: none

fix mistake
  src/storage/btree.c
Owners: @hornetmj

add dptr caching and MIN_HIT_RATIO
  src/query/fetch.c
  src/query/query_evaluator.c
  src/query/sq_cache.c
  src/query/sq_cache.h
Owners: @beyondykk9

[CBRD-25087] Move printing backtrace in parent code (#4968) (#4969)
  src/executables/javasp.cpp
Owners: none

[CBRD-25087] Move printing backtrace in parent code (#4968) (#4970)
  src/executables/javasp.cpp
Owners: none

[CBRD-25072] Implement Owner's rights for stored procedure (#4782)
  pl_engine/pl_server/src/main/java/com/cubrid/jsp/ExecuteThread.java
  pl_engine/pl_server/src/main/java/com/cubrid/jsp/StoredProcedure.java
  pl_engine/pl_server/src/main/java/com/cubrid/jsp/data/AuthInfo.java
  pl_engine/pl_server/src/main/java/com/cubrid/jsp/protocol/RequestCode.java
  src/base/object_representation.h
  src/communication/network_interface_cl.c
  src/communication/network_interface_sr.c
  src/jsp/jsp_cl.cpp
  src/jsp/jsp_cl.h
  src/method/method_callback.cpp
  src/method/method_callback.hpp
  src/method/method_def.cpp
  src/method/method_def.hpp
  src/method/method_invoke.hpp
  src/method/method_invoke_java.cpp
  src/method/method_struct_invoke.cpp
  src/method/method_struct_invoke.hpp
  src/object/authenticate.c
  src/object/authenticate.h
  src/object/object_representation.c
  src/parser/name_resolution.c
  src/parser/xasl_generation.c
  src/query/stream_to_xasl.c
  src/query/xasl_to_stream.c
Owners: @beyondykk9

add wrapping functions
  src/base/memory_cppwrapper.hpp
  src/base/memory_cwrapper.h
Owners: @beyondykk9

remove unused define
  src/base/memory_cwrapper.h
Owners: @beyondykk9

change name get_alloc_size to get_allocated_size and fix license error
  src/base/memory_cwrapper.h
Owners: @beyondykk9

[CBRD-25171] Use PEEK_KEY_VALUE instead of COPY_KEY_VALUE in btree_range_scan_read_record()
  src/storage/btree.c
  src/storage/btree.h
Owners: @hornetmj

trivial
  src/storage/btree.c
Owners: @hornetmj

[CBRD-25230] Extending result-cache to uncorrelated subqueries
  src/parser/parse_tree.h
  src/parser/xasl_generation.c
  src/query/execute_statement.c
  src/query/execute_statement.h
  src/query/fetch.c
  src/query/list_file.c
  src/query/query_executor.c
  src/query/query_executor.h
  src/query/query_opfunc.c
  src/query/xasl.h
Owners: @beyondykk9, @shparkcubrid

[CBRD-25054] Numeric type column inserted by using rownum does not show error even it's outranged. (#4766)
  src/object/object_domain.c
  src/object/object_domain.h
  src/storage/heap_file.c
Owners: @beyondykk9, @hornetmj

add TP_IS_DISCRETE_NUMBER_TYPE
  src/object/object_domain.h
Owners: @beyondykk9

[CBRD-25179] A core dump occurs when the CTE query is a false query (null query) (#4890)
  src/parser/xasl_generation.c
Owners: @beyondykk9

the selection of arguments depends on the data type
  src/storage/btree.c
Owners: @hornetmj

[CBRD-25207] count(*) value is incorrect after no-logging option loaddb (#4908)
  src/base/xserver_interface.h
  src/transaction/log_manager.c
  src/transaction/log_tran_table.c
Owners: @beyondykk9, @hornetmj

[CBRD-25195] A core dump occurs when multiple tables and serial functions are used simultaneously in one query. (#4897)
  src/parser/xasl_generation.c
Owners: @beyondykk9

Clean up code related to BTREE_REDUCE_FIND_MATCHING_ATTR_IDS definition
  src/query/partition.c
  src/query/query_evaluator.c
  src/query/query_evaluator.h
  src/query/scan_manager.c
  src/storage/btree.c
  src/storage/btree.h
Owners: @beyondykk9, @shparkcubrid, @hornetmj

[CBRD-25229] Check the maximum length of the name in sm_check_system_class_by_name (#4953)
  src/object/schema_manager.c
Owners: @beyondykk9

[CBRD-25229] Check the maximum length of the name in sm_check_system_class_by_name (#4953)
  src/object/schema_manager.c
Owners: @beyondykk9

[CBRD-25161] reduce column id compare in range_scan (#4886)
  src/query/partition.c
  src/query/query_evaluator.c
  src/query/query_evaluator.h
  src/query/scan_manager.c
  src/storage/btree.c
  src/storage/btree.h
Owners: @beyondykk9, @shparkcubrid, @hornetmj

set directive column's value according to the CREATE PROCEDURE/FUCNTION's AUTHID syntax and the directive is considered when calling it
  msg/de_DE.utf8/cubrid.msg
  msg/en_US.utf8/cubrid.msg
  msg/es_ES.utf8/cubrid.msg
  msg/fr_FR.utf8/cubrid.msg
  msg/it_IT.utf8/cubrid.msg
  msg/ja_JP.utf8/cubrid.msg
  msg/km_KH.utf8/cubrid.msg
  msg/ko_KR.euckr/cubrid.msg
  msg/ko_KR.utf8/cubrid.msg
  msg/ro_RO.utf8/cubrid.msg
  msg/tr_TR.utf8/cubrid.msg
  msg/vi_VN.utf8/cubrid.msg
  msg/zh_CN.utf8/cubrid.msg
  src/base/error_code.h
  src/jsp/jsp_cl.cpp
  src/jsp/jsp_cl.h
  src/jsp/sp_catalog.cpp
  src/jsp/sp_catalog.hpp
Owners: @beyondykk9

slip
  msg/de_DE.utf8/cubrid.msg
  msg/en_US.utf8/cubrid.msg
  msg/es_ES.utf8/cubrid.msg
  msg/fr_FR.utf8/cubrid.msg
  msg/it_IT.utf8/cubrid.msg
  msg/ja_JP.utf8/cubrid.msg
  msg/km_KH.utf8/cubrid.msg
  msg/ko_KR.utf8/cubrid.msg
  msg/ro_RO.utf8/cubrid.msg
  msg/tr_TR.utf8/cubrid.msg
  msg/vi_VN.utf8/cubrid.msg
  msg/zh_CN.utf8/cubrid.msg
Owners: none

[CBRD-25054] Numeric type column inserted by using rownum does not show error even it's outranged. (#4766) (#4974)
  src/object/object_domain.c
  src/object/object_domain.h
  src/storage/heap_file.c
Owners: @beyondykk9, @hornetmj

[CBRD-25179] A core dump occurs when the CTE query is a false query (null query) (#4890) (#4975)
  src/parser/xasl_generation.c
Owners: @beyondykk9

[CBRD-25207] count(*) value is incorrect after no-logging option loaddb (#4908) (#4976)
  src/base/xserver_interface.h
  src/transaction/log_manager.c
  src/transaction/log_tran_table.c
Owners: @beyondykk9, @hornetmj

[CBRD-25195] A core dump occurs when multiple tables and serial functions are used simultaneously in one query. (#4897) (#4977)
  src/parser/xasl_generation.c
Owners: @beyondykk9

except EXISTS()
  src/query/fetch.c
  src/query/query_evaluator.c
Owners: @beyondykk9

[CBRD-25098] Problem where inst_num() is inappropriately changed to order_by_num() when a subquery containing an ORDER BY is view merged. (#4809)
  src/optimizer/query_rewrite.c
  src/parser/parse_tree_cl.c
  src/parser/view_transform.c
Owners: @shparkcubrid, @beyondykk9

[CBRD-25098] Problem where inst_num() is inappropriately changed to order_by_num() when a subquery containing an ORDER BY is view merged. (#4809)
  src/optimizer/query_rewrite.c
  src/parser/parse_tree_cl.c
  src/parser/view_transform.c
Owners: @shparkcubrid, @beyondykk9

fix plcsql circleci testing
  .circleci/config.yml
Owners: none

csql_grammar.y : modify SQL parsing syntax, parade_tree_cl.c : modify members code location, execute_schema.c : modify dba permission duplicate check
  src/parser/csql_grammar.y
  src/parser/parse_tree_cl.c
  src/query/execute_schema.c
Owners: @beyondykk9

slip for medium's glob path
  .circleci/config.yml
Owners: none

[CBRD-25229] Check the maximum length of the name in sm_check_system_class_by_name (#4953) (#4978)
  src/object/schema_manager.c
Owners: @beyondykk9

[CBRD-25184] Modify Circle CI's configuration for more PL/CSQL test cases (#4982)
  .circleci/config.yml
Owners: none

[CBRD-25098] Problem where inst_num() is inappropriately changed to order_by_num() when a subquery containing an ORDER BY is view merged. (#4980)
  src/optimizer/query_rewrite.c
  src/parser/parse_tree_cl.c
  src/parser/view_transform.c
Owners: @shparkcubrid, @beyondykk9

.github/CODEOWNERS:

#
#
#  Copyright 2016 CUBRID Corporation
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 

# assign reviewers about all files

# required default reviewer
/src/base/ @beyondykk9
/src/base/memory_monitor_* @hornetmj
/src/broker/ @kisoo-han
/src/cm_common/ @kisoo-han
/src/compat/ @beyondykk9
/src/jsp/ @beyondykk9
/src/method/ @beyondykk9
/src/optimizer/ @shparkcubrid
/src/parser/ @beyondykk9
/src/parser/view_transform.* @shparkcubrid
/src/query/ @beyondykk9
/src/query/query_executor.* @shparkcubrid
/src/query/query_hash_scan.* @shparkcubrid
/src/query/scan_manager.* @shparkcubrid
/src/query/vacuum.* @hornetmj
/src/storage/ @hornetmj
/src/storage/statistics* @shparkcubrid
/src/transaction/ @hornetmj
/src/win_tools/ @kisoo-han
/src/xasl/ @beyondykk9

# added directories
/src/object @beyondykk9
/src/connection @beyondykk9
/src/communication @beyondykk9
/src/executable @beyondykk9 @kisoo-han
/src/heaplayers @beyondykk9
/src/monitor @beyondykk9
/src/session @beyondykk9
/src/thread @beyondykk9
/src/loaddb @kisoo-han
