Repository CUBRID/cubrid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beyondykk9, @hornetmj, @kisoo-han, @shparkcubrid

.github/CODEOWNERS:

#
#
#  Copyright 2016 CUBRID Corporation
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 

# assign reviewers about all files

# required default reviewer
/src/base/ @beyondykk9
/src/base/memory_monitor_* @hornetmj
/src/broker/ @kisoo-han
/src/cm_common/ @kisoo-han
/src/compat/ @beyondykk9
/src/jsp/ @beyondykk9
/src/method/ @beyondykk9
/src/optimizer/ @shparkcubrid
/src/parser/ @beyondykk9
/src/parser/view_transform.* @shparkcubrid
/src/query/ @beyondykk9
/src/query/query_executor.* @shparkcubrid
/src/query/query_hash_scan.* @shparkcubrid
/src/query/scan_manager.* @shparkcubrid
/src/query/vacuum.* @hornetmj
/src/storage/ @hornetmj
/src/storage/statistics* @shparkcubrid
/src/transaction/ @hornetmj
/src/win_tools/ @kisoo-han
/src/xasl/ @beyondykk9

# added directories
/src/object @beyondykk9
/src/connection @beyondykk9
/src/communication @beyondykk9
/src/executable @beyondykk9 @kisoo-han
/src/heaplayers @beyondykk9
/src/monitor @beyondykk9
/src/session @beyondykk9
/src/thread @beyondykk9
/src/loaddb @kisoo-han

add NOT_CACHING check and sq_cache_flag
  src/query/query_executor.c
  src/query/sq_cache.c
  src/query/stream_to_xasl.c
  src/query/xasl.h
Owners: @shparkcubrid, @beyondykk9

[CBRD-25234] refactor the code that uses strlen() to check the condition of the loop (#4996)
  src/base/locale_support.c
  src/base/uca_support.c
  src/compat/cnv.c
  src/executables/util_service.c
  src/object/schema_manager.c
  src/parser/compile.c
  src/query/query_executor.c
  src/query/query_opfunc.c
  src/query/string_opfunc.c
Owners: @beyondykk9, @shparkcubrid

add comments
  src/query/sq_cache.c
  src/query/sq_cache.h
Owners: @beyondykk9

[CBRD-25245] case insensitive are_hostnames_equal () (#5009)
  src/executables/util_common.c
Owners: none

ADD Syntax ALTER SERIAL .. OWNER TO ..
  src/parser/csql_grammar.y
  src/parser/parse_tree.h
  src/parser/parse_tree_cl.c
  src/query/execute_statement.c
Owners: @beyondykk9

[CBRD-25245] 11.2, case insensitive are_hostnames_equal ()
  src/executables/util_common.c
Owners: none

[CBRD-25245] fix code style
  src/executables/util_common.c
Owners: none

fix to success windows build
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

fix to success windows build
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.hpp
Owners: @beyondykk9, @hornetmj

Refactor db_time_format() and db_date_format() into similar structures
  src/query/string_opfunc.c
Owners: @beyondykk9

fix to success windows build
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

fix to success windows build
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

fix build error
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

fix code-style
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

fix indent
  src/base/memory_cwrapper.h
Owners: @beyondykk9

fix for windows build
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

remove unnecessary line
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

fix build error
  src/base/memory_cwrapper.h
  src/base/memory_monitor_sr.cpp
Owners: @beyondykk9, @hornetmj

[CBRD-25245] 11.3, case insensitive are_hostnames_equal ()
  src/executables/util_common.c
Owners: none

[CBRD-25245] 10.2, case insensitive are_hostnames_equal ()
  src/executables/util_common.c
Owners: none

[CBRD-25245] 11.3, case insensitive are_hostnames_equal () (#5013)
  src/executables/util_common.c
Owners: none

[CBRD-25245] 11.2, case insensitive are_hostnames_equal () (#5011)
  src/executables/util_common.c
Owners: none

[CBRD-25245] 10.2, case insensitive are_hostnames_equal () (#5014)
  src/executables/util_common.c
Owners: none

[CBRD-25245] 11.0, case insensitive are_hostnames_equal ()
  src/executables/util_common.c
Owners: none

[CBRD-25243] case-insensitive hostname for CUBRID userhosts (#5008)
  src/connection/host_lookup.c
Owners: @beyondykk9

[CBRD-25243] 11.3 case-insensitive hostname for CUBRID userhosts
  src/connection/host_lookup.c
Owners: @beyondykk9

fix no xasl gen, prepare only
  src/query/execute_statement.c
  src/query/fetch.c
Owners: @beyondykk9

remove is_subquery_cached, prepare_only flag
  src/parser/parse_tree.h
  src/parser/parse_tree_cl.c
  src/parser/xasl_generation.c
  src/parser/xasl_generation.h
  src/query/execute_statement.c
Owners: @beyondykk9

divide into each step
  src/parser/type_checking.c
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25246] Add cur_pageid, volumeid in SELECT_PAGE_INFO (#5010)
  src/parser/parse_tree.c
  src/parser/parse_tree.h
  src/parser/xasl_generation.c
  src/storage/heap_file.c
  src/storage/storage_common.h
Owners: @beyondykk9, @hornetmj

Add USE_HASH, NO_USE_HASH hints
  src/optimizer/query_graph.c
  src/parser/csql_grammar.y
  src/parser/name_resolution.c
  src/parser/parse_tree.h
  src/parser/parse_tree_cl.c
  src/parser/parser_support.c
  src/parser/scanner_support.c
  src/parser/view_transform.c
  src/parser/xasl_generation.c
Owners: @shparkcubrid, @beyondykk9

slip
  src/query/string_opfunc.c
Owners: @beyondykk9

code refine
  src/parser/parse_tree.h
  src/parser/xasl_generation.c
  src/query/execute_statement.c
  src/query/fetch.c
  src/query/query_executor.c
  src/query/stream_to_xasl.c
  src/query/xasl.h
  src/query/xasl_to_stream.c
Owners: @beyondykk9, @shparkcubrid

For false query, fix not to create a server-side cursor
  src/method/method_invoke_group.cpp
  src/method/method_invoke_java.cpp
  src/method/method_query_handler.cpp
  src/method/method_runtime_context.cpp
Owners: @beyondykk9

cursor could be nullptr when query result is not created
  src/method/method_invoke_java.cpp
Owners: @beyondykk9

revert
  src/method/method_invoke_java.cpp
Owners: @beyondykk9

fix leak
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25245] 11.0, case insensitive are_hostnames_equal () (#5015)
  src/executables/util_common.c
Owners: none

[CBRD-25243] 11.3 case-insensitive hostname for CUBRID userhosts (#5016)
  src/connection/host_lookup.c
Owners: @beyondykk9

remove unnecessary comment
  src/transaction/boot_sr.c
Owners: @hornetmj
