Repository CUBRID/cubrid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beyondykk9, @hornetmj, @kisoo-han, @shparkcubrid

.github/CODEOWNERS:

#
#
#  Copyright 2016 CUBRID Corporation
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 

# assign reviewers about all files

# required default reviewer
/src/base/ @beyondykk9
/src/base/memory_monitor_* @hornetmj
/src/broker/ @kisoo-han
/src/cm_common/ @kisoo-han
/src/compat/ @beyondykk9
/src/jsp/ @beyondykk9
/src/method/ @beyondykk9
/src/optimizer/ @shparkcubrid
/src/parser/ @beyondykk9
/src/parser/view_transform.* @shparkcubrid
/src/query/ @beyondykk9
/src/query/query_executor.* @shparkcubrid
/src/query/query_hash_scan.* @shparkcubrid
/src/query/scan_manager.* @shparkcubrid
/src/query/vacuum.* @hornetmj
/src/storage/ @hornetmj
/src/storage/statistics* @shparkcubrid
/src/transaction/ @hornetmj
/src/win_tools/ @kisoo-han
/src/xasl/ @beyondykk9

# added directories
/src/object @beyondykk9
/src/connection @beyondykk9
/src/communication @beyondykk9
/src/executable @beyondykk9 @kisoo-han
/src/heaplayers @beyondykk9
/src/monitor @beyondykk9
/src/session @beyondykk9
/src/thread @beyondykk9
/src/loaddb @kisoo-han

Update src/thread/thread_looper.cpp
  src/thread/thread_looper.cpp
Owners: @beyondykk9

add QUERY_CACHE hint not to merge inline view
  src/parser/view_transform.c
  src/query/query_executor.c
Owners: @shparkcubrid

fn_date_time_step3_new
  src/query/string_opfunc.c
Owners: @beyondykk9

resolve a name without considering user variable in compiling static sql
  src/parser/name_resolution.c
Owners: @beyondykk9

[skip ci] remove useless line
  src/method/method_invoke_java.cpp
Owners: @beyondykk9

remove redundant condition
  src/parser/name_resolution.c
Owners: @beyondykk9

defined ENHANCE_DATE_TIME_FORMAT
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25249] Fix not to resolve names of static SQL without considering user variables in compiling PL/CSQL (#5018)
  src/parser/name_resolution.c
Owners: @beyondykk9

slip
  src/query/string_opfunc.c
Owners: @beyondykk9

add comment
  src/base/memory_alloc.h
  src/transaction/boot_sr.c
Owners: @beyondykk9, @hornetmj

slip
  src/query/string_opfunc.c
Owners: @beyondykk9

Update method_invoke_java.cpp
  src/method/method_invoke_java.cpp
Owners: @beyondykk9

[CBRD-25248] Server crash for Java SPs running a SELECT statement with 'WHERE 0 <> 0' clause (#5017)
  src/method/method_invoke_group.cpp
  src/method/method_invoke_java.cpp
  src/method/method_query_handler.cpp
  src/method/method_runtime_context.cpp
Owners: @beyondykk9

modify schema according to the design changes, add a function to insert a row in the catalog table
  src/jsp/jsp_cl.cpp
  src/jsp/jsp_cl.h
  src/jsp/sp_catalog.cpp
  src/jsp/sp_catalog.hpp
  src/method/method_compile_def.cpp
  src/method/method_compile_def.hpp
  src/object/schema_system_catalog_install.cpp
Owners: @beyondykk9

add routine to drop code
  src/jsp/jsp_cl.cpp
  src/jsp/jsp_cl.h
Owners: @beyondykk9

include Java types into the import list corresponding to the return types of built-in functions called
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/ParseTreeConverter.java
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/PlcsqlCompilerMain.java
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/visitor/TypeChecker.java
Owners: none

comment and fix scale for %x
  src/query/string_opfunc.c
Owners: @beyondykk9

slip
  src/query/string_opfunc.c
Owners: @beyondykk9

fix check_range assertion
  pl_engine/pl_server/src/main/java/com/cubrid/jsp/data/CUBRIDPacker.java
  pl_engine/pl_server/src/main/java/com/cubrid/jsp/data/CompileInfo.java
  src/object/schema_system_catalog.cpp
  src/object/schema_system_catalog_install.cpp
Owners: @beyondykk9

ENHANCE_DATE_TIME_FORMAT is always assumed to be declared
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25115] fixed inaccuracy in length limit of where clause when creating filter index
  src/object/schema_system_catalog_install.cpp
  src/query/execute_schema.c
Owners: @beyondykk9

(1) add mistakenly omitted '()' for empty arguments for built-in functions. (2) raise an error when a built-in function's return type is not supported
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/visitor/TypeChecker.java
Owners: none

drop server message from built-in functions' semantic error messages
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/visitor/TypeChecker.java
Owners: none

code style
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/visitor/TypeChecker.java
Owners: none

[CBRD-25248] Server crash for Java SPs running a SELECT statement with 'WHERE 0 <> 0' clause (#5017)
  src/method/method_invoke_group.cpp
  src/method/method_invoke_java.cpp
  src/method/method_query_handler.cpp
  src/method/method_runtime_context.cpp
Owners: @beyondykk9

add descriptions of header
  src/base/memory_cwrapper.h
  src/base/memory_wrapper.hpp
  src/heaplayers/heaps/top/mallocheap.h
Owners: @beyondykk9

[CBRD-25253] [bugfix] SELECT statement is shown in semantic error messages of built-in function calls (#5026)
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/visitor/TypeChecker.java
Owners: none

unified symbol stacks for identifier, procedures, functions, and exceptions to share the same namespace.
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/SymbolStack.java
Owners: none

rename sq_cache -> subquery_cache
  cubrid/CMakeLists.txt
  sa/CMakeLists.txt
  src/query/fetch.c
  src/query/query_executor.c
  src/query/subquery_cache.c
  src/query/subquery_cache.h
Owners: @beyondykk9, @shparkcubrid

slip
  src/jsp/jsp_cl.cpp
Owners: @beyondykk9

modify catalog's constraint. add index instead of unique
  src/object/schema_system_catalog_install.cpp
Owners: @beyondykk9

[CBRD-25192] [bugfix] TO_NUMBER('1234567') call expression emits an invalid Java code (#5027)
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/ParseTreeConverter.java
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/PlcsqlCompilerMain.java
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/visitor/TypeChecker.java
Owners: none

[CBRD-25184] Temporary regression testing environment for PL/CSQL phase-1 (#4907)
  .circleci/config.yml
Owners: none

[CBRD-25184] Modify Circle CI's configuration for more PL/CSQL test cases (#4982)
  .circleci/config.yml
Owners: none

Change policy to modify and output in unloaddb() processing
  src/executables/unload_schema.c
  src/query/execute_schema.c
Owners: @beyondykk9

remove checking arg2 is PT_VALUE and STRING type. it should be checked in type checking
  src/parser/csql_grammar.y
Owners: @beyondykk9

slip
  src/optimizer/query_planner.c
Owners: @shparkcubrid

add eq_visited_segs
  src/optimizer/query_planner.c
Owners: @shparkcubrid

add fail message in comment
  src/executables/unload_schema.c
  src/query/execute_schema.c
Owners: @beyondykk9

add unit tests for memory_monitor class
  build.sh
  cubrid/CMakeLists.txt
  src/base/memory_monitor_api.cpp
  src/base/memory_monitor_sr.cpp
  src/base/memory_monitor_sr.hpp
  unit_tests/CMakeLists.txt
  unit_tests/memory_monitor/CMakeLists.txt
  unit_tests/memory_monitor/test_memory_monitor_main.cpp
  util/CMakeLists.txt
Owners: @hornetmj
