Repository CUBRID/cubrid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beyondykk9, @hornetmj, @kisoo-han, @shparkcubrid

.github/CODEOWNERS:

#
#
#  Copyright 2016 CUBRID Corporation
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 

# assign reviewers about all files

# required default reviewer
/src/base/ @beyondykk9
/src/base/memory_monitor_* @hornetmj
/src/broker/ @kisoo-han
/src/cm_common/ @kisoo-han
/src/compat/ @beyondykk9
/src/jsp/ @beyondykk9
/src/method/ @beyondykk9
/src/optimizer/ @shparkcubrid
/src/parser/ @beyondykk9
/src/parser/view_transform.* @shparkcubrid
/src/query/ @beyondykk9
/src/query/query_executor.* @shparkcubrid
/src/query/query_hash_scan.* @shparkcubrid
/src/query/scan_manager.* @shparkcubrid
/src/query/vacuum.* @hornetmj
/src/storage/ @hornetmj
/src/storage/statistics* @shparkcubrid
/src/transaction/ @hornetmj
/src/win_tools/ @kisoo-han
/src/xasl/ @beyondykk9

# added directories
/src/object @beyondykk9
/src/connection @beyondykk9
/src/communication @beyondykk9
/src/executable @beyondykk9 @kisoo-han
/src/heaplayers @beyondykk9
/src/monitor @beyondykk9
/src/session @beyondykk9
/src/thread @beyondykk9
/src/loaddb @kisoo-han

init tm_Tran_check_interrupt
  src/transaction/transaction_cl.c
Owners: @hornetmj

Add HASHJOIN_PROC
  src/base/memory_hash.c
  src/base/memory_hash.h
  src/optimizer/plan_generation.c
  src/optimizer/query_graph.c
  src/optimizer/query_planner.c
  src/optimizer/query_planner.h
  src/parser/name_resolution.c
  src/parser/parse_tree.h
  src/parser/parse_tree_cl.c
  src/parser/parser_support.c
  src/parser/scanner_support.c
  src/parser/view_transform.c
  src/parser/xasl_generation.c
  src/parser/xasl_generation.h
  src/parser/xasl_regu_alloc.cpp
  src/query/query_dump.c
  src/query/query_executor.c
  src/query/query_hash_scan.h
  src/query/scan_manager.c
  src/query/stream_to_xasl.c
  src/query/xasl.h
  src/query/xasl_to_stream.c
Owners: @beyondykk9, @shparkcubrid

more precise type names in error messages of SP semantic errors
  src/parser/parse_tree_cl.c
Owners: @beyondykk9

code style
  src/parser/parse_tree_cl.c
Owners: @beyondykk9

[CBRD-25242] Improved speed of parse_digits()
  src/query/string_opfunc.c
Owners: @beyondykk9

slip
  src/query/string_opfunc.c
Owners: @beyondykk9

refine
  src/parser/view_transform.c
  src/parser/xasl_generation.c
  src/query/execute_statement.c
Owners: @shparkcubrid, @beyondykk9

implement utility frame and print function
  cs/CMakeLists.txt
  msg/en_US.utf8/utils.msg
  msg/en_US/utils.msg
  src/base/memory_monitor_cl.cpp
  src/base/memory_monitor_cl.hpp
  src/executables/util_admin.c
  src/executables/util_cs.c
  src/executables/util_service.c
  src/executables/utility.h
Owners: @hornetmj

Add missing code for adding hints
  src/parser/name_resolution.c
  src/parser/parse_tree_cl.c
  src/parser/view_transform.c
  src/parser/xasl_generation.c
Owners: @beyondykk9, @shparkcubrid

[CBRD-25255] more precise type names in error messages of SP CREATE statements semantic errors (#5033)
  src/parser/parse_tree_cl.c
Owners: @beyondykk9

Add ptqo_to_hash_build_scan_proc
  src/optimizer/plan_generation.c
  src/optimizer/query_planner.c
  src/parser/xasl_generation.c
  src/parser/xasl_generation.h
  src/query/query_executor.c
Owners: @shparkcubrid, @beyondykk9

[CBRD-25248] Server crash for Java SPs running a SELECT statement with 'WHERE 0 <> 0' clause (#5017)
  src/method/method_invoke_group.cpp
  src/method/method_invoke_java.cpp
  src/method/method_query_handler.cpp
  src/method/method_runtime_context.cpp
Owners: @beyondykk9

[CBRD-25248] Server crash for Java SPs running a SELECT statement with 'WHERE 0 <> 0' clause (#5017)
  src/method/method_invoke_group.cpp
  src/method/method_invoke_java.cpp
  src/method/method_query_handler.cpp
  src/method/method_runtime_context.cpp
Owners: @beyondykk9

[CBRD-25248] Server crash for Java SPs running a SELECT statement with 'WHERE 0 <> 0' clause (#5017) (#5037)
  src/method/method_invoke_group.cpp
  src/method/method_invoke_java.cpp
  src/method/method_query_handler.cpp
  src/method/method_runtime_context.cpp
Owners: @beyondykk9

[CBRD-25248] Server crash for Java SPs running a SELECT statement with 'WHERE 0 <> 0' clause (#5017) (#5036)
  src/method/method_invoke_group.cpp
  src/method/method_invoke_java.cpp
  src/method/method_query_handler.cpp
  src/method/method_runtime_context.cpp
Owners: @beyondykk9

style : Modify the authenticate.c file line
  src/object/authenticate.c
Owners: @beyondykk9

style : Correct error in authenticate.c file
  src/object/authenticate.c
Owners: @beyondykk9

style : Added assert(false) for debugging.
  src/parser/parse_tree_cl.c
  src/query/execute_schema.c
Owners: @beyondykk9

Update src/query/string_opfunc.c
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25235] Improved performance of time_format() and date_format() (#5012)
  src/parser/type_checking.c
  src/query/string_opfunc.c
Owners: @beyondykk9

added code to initilize the lexer csql_lineno when executed by JDBC
  src/broker/cas_execute.c
  src/compat/db_vdb.c
  src/compat/dbi.h
  src/compat/dbi_compat.h
Owners: @kisoo-han, @beyondykk9

code style
  src/broker/cas_execute.c
  src/compat/db_vdb.c
  src/compat/dbi.h
  src/compat/dbi_compat.h
Owners: @kisoo-han, @beyondykk9

Changes to SQL Trace and mht_dump_hls
  src/base/memory_hash.c
  src/optimizer/query_planner.c
  src/query/query_dump.c
  src/query/query_hash_scan.c
  src/query/scan_manager.c
Owners: @beyondykk9, @shparkcubrid

[CBRD-25242] Improved speed of parse_digits() (#5034)
  src/query/string_opfunc.c
Owners: @beyondykk9

check flag.subquery_cached correctly
  src/query/execute_statement.c
Owners: @beyondykk9

[CBRD-25181] unify symbol table stacks for identifiers, procedures, functions, and exceptions (#5028)
  pl_engine/pl_server/src/main/java/com/cubrid/plcsql/compiler/SymbolStack.java
Owners: none

add the new function db_init_lexer_lineno to the symbol list for the Windows build
  win/cubridcs/cubridcs.def
  win/cubridsa/cubridsa.def
Owners: none

add tests (w/ multithreads)
  src/base/memory_monitor_sr.cpp
  unit_tests/memory_monitor/test_memory_monitor_main.cpp
Owners: @hornetmj

apply feedback
  msg/en_US.utf8/utils.msg
  msg/en_US/utils.msg
  src/base/memory_monitor_cl.cpp
  src/base/memory_monitor_cl.hpp
  src/base/memory_monitor_common.hpp
  src/base/memory_monitor_sr.cpp
  src/executables/util_cs.c
  src/executables/utility.h
Owners: @hornetmj
