Repository CUBRID/cubrid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beyondykk9, @hornetmj, @kisoo-han, @shparkcubrid

check whther segments of eqclass are fully connected
  src/optimizer/query_planner.c
Owners: @shparkcubrid

indent
  src/optimizer/query_planner.c
Owners: @shparkcubrid

[CBRD-25238] Problem with outer joined views being merged. (#4998)
  src/parser/view_transform.c
Owners: @shparkcubrid

[CBRD-25238] Problem with outer joined views being merged. (#4998)
  src/parser/view_transform.c
Owners: @shparkcubrid

[CBRD-25238] Problem with outer joined views being merged. (#4998)
  src/parser/view_transform.c
Owners: @shparkcubrid

[CBRD-25238] Problem with outer joined views being merged. (#4998) (#4999)
  src/parser/view_transform.c
Owners: @shparkcubrid

[CBRD-25238] Problem with outer joined views being merged. (#4998) (#5000)
  src/parser/view_transform.c
Owners: @shparkcubrid

check subset of connected_segs
  src/optimizer/query_planner.c
Owners: @shparkcubrid

[CBRD-25235] Avoid using the STRCHCAT macro
  src/query/string_opfunc.c
Owners: @beyondykk9

trivial
  src/storage/btree.c
Owners: @hornetmj

[CBRD-25239] Fixed error when using User variable in TIME_FORMAT() function
  src/query/string_opfunc.c
Owners: @beyondykk9

stay consistent
  src/query/string_opfunc.c
Owners: @beyondykk9

slip
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25236] Output error related to TZM in timezone information
  src/query/string_opfunc.c
Owners: @beyondykk9

fix CUBRID_TMP should be retrieve by using getenv()
  src/jsp/com/cubrid/jsp/Server.java
Owners: @beyondykk9

fix CUBRID_TMP should be retrieve by using getenv()
  src/jsp/com/cubrid/jsp/Server.java
Owners: @beyondykk9

fix CUBRID_TMP should be retrieve by using getenv()
  src/jsp/com/cubrid/jsp/Server.java
Owners: @beyondykk9

[CBRD-25208] Slip CUBRID_TMP should be retrieved by using getenv() (#5003)
  src/jsp/com/cubrid/jsp/Server.java
Owners: @beyondykk9

slip
  src/optimizer/query_planner.c
Owners: @shparkcubrid

Apply suggestions from code review
  src/optimizer/query_planner.c
Owners: @shparkcubrid

add delset
  src/optimizer/query_planner.c
Owners: @shparkcubrid

[CBRD-25208] Slip CUBRID_TMP should be retrieved by using getenv() (#5003) (#5005)
  src/jsp/com/cubrid/jsp/Server.java
Owners: @beyondykk9

[CBRD-25208] Slip CUBRID_TMP should be retrieved by using getenv() (#5003) (#5004)
  src/jsp/com/cubrid/jsp/Server.java
Owners: @beyondykk9

slip
  src/optimizer/query_planner.c
Owners: @shparkcubrid

[CBRD-25171] Use PEEK_KEY_VALUE instead of COPY_KEY_VALUE in btree_range_scan_read_record() (#4972)
  src/storage/btree.c
  src/storage/btree.h
Owners: @hornetmj

[CBRD-25233] When executing multiple statements at once in SetAutocommit(false), there is a commit or rollback statement between the statements
  src/base/ddl_log.c
Owners: @beyondykk9

[CBRD-25239] user variable time format (#5001)
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25240] Code cleanup related to USE_PEEK_IN_RANGE_SCAN_READ define
  src/storage/btree.c
  src/storage/btree.h
Owners: @hornetmj

parse_digit
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25240] Code cleanup related to USE_PEEK_IN_RANGE_SCAN_READ define (#5007)
  src/storage/btree.c
  src/storage/btree.h
Owners: @hornetmj

[CBRD-25236] Output error related to TZM in timezone information (#5002)
  src/query/string_opfunc.c
Owners: @beyondykk9

[CBRD-25243] case-insensitive hostname for CUBRID userhosts
  src/connection/host_lookup.c
Owners: @beyondykk9

[CBRD-25243] make are_hostnames_equal () to case-insensitive
  src/executables/util_common.c
Owners: none

[CBRD-25233] When executing multiple statements at once in SetAutocommit(false), there is a commit or rollback statement between the statements (#5006)
  src/base/ddl_log.c
Owners: @beyondykk9

add flag prepare_only, subquery_cached, is_subquery_cached
  src/parser/parse_tree.h
  src/parser/parse_tree_cl.c
  src/parser/xasl_generation.c
  src/query/execute_statement.c
Owners: @beyondykk9

[CBRD-25243] rollback changes made to are_hostnames_equal()
  src/executables/util_common.c
Owners: none

[CBRD-25243] rollback changes made to are_hostnames_equal()
  src/executables/util_common.c
Owners: none

[CBRD-25245] case insensitive are_hostnames_equal ()
  src/executables/util_common.c
Owners: none

typo
  src/query/string_opfunc.c
Owners: @beyondykk9

Add cur_pageid, volumeid in SELECT_PAGE_INFO
  src/parser/parse_tree.c
  src/parser/parse_tree.h
  src/parser/xasl_generation.c
  src/storage/heap_file.c
  src/storage/storage_common.h
Owners: @beyondykk9, @hornetmj

.github/CODEOWNERS:

#
#
#  Copyright 2016 CUBRID Corporation
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 

# assign reviewers about all files

# required default reviewer
/src/base/ @beyondykk9
/src/base/memory_monitor_* @hornetmj
/src/broker/ @kisoo-han
/src/cm_common/ @kisoo-han
/src/compat/ @beyondykk9
/src/jsp/ @beyondykk9
/src/method/ @beyondykk9
/src/optimizer/ @shparkcubrid
/src/parser/ @beyondykk9
/src/parser/view_transform.* @shparkcubrid
/src/query/ @beyondykk9
/src/query/query_executor.* @shparkcubrid
/src/query/query_hash_scan.* @shparkcubrid
/src/query/scan_manager.* @shparkcubrid
/src/query/vacuum.* @hornetmj
/src/storage/ @hornetmj
/src/storage/statistics* @shparkcubrid
/src/transaction/ @hornetmj
/src/win_tools/ @kisoo-han
/src/xasl/ @beyondykk9

# added directories
/src/object @beyondykk9
/src/connection @beyondykk9
/src/communication @beyondykk9
/src/executable @beyondykk9 @kisoo-han
/src/heaplayers @beyondykk9
/src/monitor @beyondykk9
/src/session @beyondykk9
/src/thread @beyondykk9
/src/loaddb @kisoo-han
