Repository CUBRID/cubrid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @beyondykk9, @hornetmj, @kisoo-han, @shparkcubrid

.github/CODEOWNERS:

#
#
#  Copyright 2016 CUBRID Corporation
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 

# assign reviewers about all files

# required default reviewer
/src/base/ @beyondykk9
/src/base/memory_monitor_* @hornetmj
/src/broker/ @kisoo-han
/src/cm_common/ @kisoo-han
/src/compat/ @beyondykk9
/src/jsp/ @beyondykk9
/src/method/ @beyondykk9
/src/optimizer/ @shparkcubrid
/src/parser/ @beyondykk9
/src/parser/view_transform.* @shparkcubrid
/src/query/ @beyondykk9
/src/query/query_executor.* @shparkcubrid
/src/query/query_hash_scan.* @shparkcubrid
/src/query/scan_manager.* @shparkcubrid
/src/query/vacuum.* @hornetmj
/src/storage/ @hornetmj
/src/storage/statistics* @shparkcubrid
/src/transaction/ @hornetmj
/src/win_tools/ @kisoo-han
/src/xasl/ @beyondykk9

# added directories
/src/object @beyondykk9
/src/connection @beyondykk9
/src/communication @beyondykk9
/src/executable @beyondykk9 @kisoo-han
/src/heaplayers @beyondykk9
/src/monitor @beyondykk9
/src/session @beyondykk9
/src/thread @beyondykk9
/src/loaddb @kisoo-han

[CBRD-25098] Problem where inst_num() is inappropriately changed to order_by_num() when a subquery containing an ORDER BY is view merged. (#4981)
  src/optimizer/query_rewrite.c
  src/parser/parse_tree_cl.c
  src/parser/view_transform.c
Owners: @shparkcubrid, @beyondykk9

[CBRD-23768] Unnecessary row X-LOCK is set depending on the plan (#4916)
  src/query/query_executor.c
Owners: @shparkcubrid

style : Remove duplicate checks for the same condition, Change the order of DBA permissions and add/delete condition checks
  src/parser/parse_tree_cl.c
  src/query/execute_schema.c
Owners: @beyondykk9

remove useless codes
  src/parser/xasl_generation.c
  src/query/list_file.c
  src/query/query_executor.c
  src/query/query_opfunc.c
Owners: @beyondykk9, @shparkcubrid

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files.
  src/loaddb/load_driver.cpp
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

consider to compressed
  src/storage/btree.c
Owners: @hornetmj

[CBRD-25164] Fix error in covered index query results using function indexes (#4881)
  src/query/query_evaluator.c
Owners: @beyondykk9

- fix indent
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

- fix indent
  src/loaddb/load_driver.cpp
Owners: @kisoo-han

fix: resource tracker
  src/parser/parse_tree.h
  src/query/fetch.c
  src/query/query_executor.c
Owners: @beyondykk9, @shparkcubrid

[CBRD-25164] Fix error in covered index query results using function indexes (#4881) (#4989)
  src/query/query_evaluator.c
Owners: @beyondykk9

- change logic to prevent side-effect
  src/loaddb/load_driver.cpp
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

fix errors from sq_hash_func
  src/query/fetch.c
  src/query/query_evaluator.c
  src/query/query_executor.c
  src/query/sq_cache.c
Owners: @beyondykk9, @shparkcubrid

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4988)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4988)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25228] Query with CTE sub-query, query-cache does not work. (#4950)
  src/query/execute_statement.c
Owners: @beyondykk9

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4988)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4988)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25231] Modify version number for 11.2.8
  VERSION
Owners: none

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4988)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25231] Modify version number for 11.2.8 (#4993)
  VERSION
Owners: none

indent
  src/query/query_executor.c
Owners: @shparkcubrid

- fix conflict after cherry-picking
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4990)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4991)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4992)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

[CBRD-25234] refactor the code that uses strlen() to check the condition of the loop
  src/base/locale_support.c
  src/base/uca_support.c
  src/compat/cnv.c
  src/executables/util_service.c
  src/object/schema_manager.c
  src/parser/compile.c
  src/query/query_executor.c
  src/query/query_opfunc.c
  src/query/string_opfunc.c
Owners: @beyondykk9, @shparkcubrid

add xasl->if_pred handler
  src/query/sq_cache.c
Owners: @beyondykk9

[CBRD-25064] change to return success when performing execute standalone's loaddb with zero-sized object files. (#4995)
  src/loaddb/load_sa_loader.cpp
Owners: @kisoo-han

not caching if_pred
  src/query/sq_cache.c
Owners: @beyondykk9

typo correction
  src/query/sq_cache.c
Owners: @beyondykk9

style : Modified code to if -> switch for readability
  src/query/execute_schema.c
Owners: @beyondykk9

[CBRD-24731] Combine AUTHID property syntax and Execution rights functionality (#4979)
  msg/de_DE.utf8/cubrid.msg
  msg/en_US.utf8/cubrid.msg
  msg/es_ES.utf8/cubrid.msg
  msg/fr_FR.utf8/cubrid.msg
  msg/it_IT.utf8/cubrid.msg
  msg/ja_JP.utf8/cubrid.msg
  msg/km_KH.utf8/cubrid.msg
  msg/ko_KR.euckr/cubrid.msg
  msg/ko_KR.utf8/cubrid.msg
  msg/ro_RO.utf8/cubrid.msg
  msg/tr_TR.utf8/cubrid.msg
  msg/vi_VN.utf8/cubrid.msg
  msg/zh_CN.utf8/cubrid.msg
  src/base/error_code.h
  src/jsp/jsp_cl.cpp
  src/jsp/jsp_cl.h
  src/jsp/sp_catalog.cpp
  src/jsp/sp_catalog.hpp
Owners: @beyondykk9

add some conditions of cub_realloc() that realloc() has to offer
  src/base/memory_cppwrapper.hpp
  src/base/memory_cwrapper.h
Owners: @beyondykk9

add comments about operator new
  src/base/memory_cppwrapper.hpp
Owners: @beyondykk9

[CBRD-25224] Implement wrapping functions of allocation functions (#4971)
  src/base/memory_cppwrapper.hpp
  src/base/memory_cwrapper.h
Owners: @beyondykk9

fix code-style
  src/thread/thread_looper.cpp
Owners: @beyondykk9

fix code-style
  src/thread/thread_looper.cpp
Owners: @beyondykk9

Update src/thread/thread_looper.cpp
  src/thread/thread_looper.cpp
Owners: @beyondykk9

fix outer joined views to prevent merging
  src/parser/view_transform.c
Owners: @shparkcubrid
